$default-font-size: 16px;
$title-font-size: $default-font-size * 2;
$section-title-font-size: $default-font-size * 1.5;
$default-margin-length: 15px;
$default-padding-lenght: $default-margin-length * 2;

.row {
    display: flex;
    padding: $default-margin-length;
}

.column {
    flex: 50%;
    border: 2px solid black;
    background-color: #E0E4CC;
    margin: $default-margin-length;
    text-align: justify;
}


* {
    font-size: $default-font-size;
}

.header {
    padding: $default-padding-lenght;
}
.title{
    font-size: $title-font-size;
}

.header-button-section{
    float:right;
    display: flex;
}

.header-button {
    flex: 50%;
    margin: $default-margin-length
}

.section-title {
    font-size: $section-title-font-size;
    background-color: #69D2E7;
    float: right;
    width: 57%;
    text-align: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
#second-section-title {
    background-color: #F38630;
}
#third-section-title{
    background-color: #E9AEAF;
}

.section-header{
    margin-bottom: $default-margin-length;
}

.section-text {
    padding: $default-padding-lenght;
}

.logo{
    font-size: 50px ;
}

.footer {
    background-color: #E0E4CC;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credits{
    text-align: center;
}

.author-name {
    font-weight: bold;
}