@use 'sass:list';
@import 'reset';

$default-font-size: 16px;
$title-font-size: $default-font-size * 2;
$section-title-font-size: $default-font-size * 1.5;
$default-margin-length: 20px;
$default-padding-lenght: $default-margin-length * 2;
$logo-flex: 10px;
$button-section-flex: 50%;
$defualt-border: black solid 2px;
$default-div-bg-color: #E0E4CC;
$column-flex: 33%;

// html, body{
//     height: 100vh;
//     margin: 0;
// }

// mobiles

.title{
    display: none;
}

$section-title-colors: #F38630 #E9AEAF;

@for $i from 2 through 3 {
    .row .column:nth-of-type(#{$i}) .section-title{
        background-color: list.nth($section-title-colors, $i - 1);;
    }
}

.row {
    display: flex;
    padding: $default-margin-length;
    flex-direction: column;
}


.header-button-section{
    display: none;
}

$header-button-edge: 64px;

.header-hamburger-menu-section{
    display: flex;
    flex:10%;
    justify-content: flex-end;
    align-items: center;
}

.header-hamburger-menu-button{
    height: $header-button-edge;
    width: $header-button-edge;
    border-radius: 18px;
    border: $defualt-border;
    background-color: $default-div-bg-color;
    font: 48px bold center;
}

.header-hamburger-menu-button:hover{
    background-color: #ebedde;
}

.header-hamburger-menu-button:active{
    background-color: #878a7b;
}

@media only screen and (min-width: 600px) {
    // tablets
    .title {
        display: block;
        font-size: $title-font-size;
        padding-left: $default-padding-lenght;
        margin-top: 25px;
    }
    .row{
        flex-flow: row wrap;
    }
    .column:first-of-type{
        flex: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    // desktop
    .row {
        flex-flow: row nowrap;
    }
    .column:first-of-type{
        flex: $column-flex
    }
    .header-button-section{
        float:right;
        display: flex;
        flex: $button-section-flex;
        list-style: none;
    }
    .header-hamburger-menu-section{
        display: none;
    }
}


.column {
    flex: $column-flex;
    border: $defualt-border;
    background-color: $default-div-bg-color;
    margin: $default-margin-length;
    text-align: justify;
}

.flex-body {
    display: flex;
    flex-direction: column;
}



* {
    font-size: $default-font-size;
}


header {
    padding: $default-padding-lenght;
    display: flex;
    flex: 40px;
}

.header-title-section{
    list-style: none;
    flex: 50%;
    display: flex;
}

.logo-box{
    flex: $logo-flex;
}

.logo{
    height: $header-button-edge;
    width: $header-button-edge;
}

.logo-font{
    font-size: 60px;
    font-family: 'Brush Script MT',cursive;
    display:block;
}

#logo-S{
    @extend .logo-font;
    margin-top: -54px;
    margin-left: 6px;
}

#logo-R{
    @extend .logo-font;
    margin: 0;
}

.title-box{
    flex: 80%;
    text-align: left;
    display: flex;
}

.header-button-item {
    flex: 50%;
    margin: $default-margin-length
}
li {
    button{
        border: none;
        background: none;
    }
    button:hover {
        color: gray;
    }
    button:active {
        margin-top: -5px;
    }
}

section {
    flex: 100%;
}

.section-title {
    font-size: $section-title-font-size;
    background-color: #69D2E7; // default color
    float: right;
    width: 57%;
    text-align: center;
    border-bottom: $defualt-border;
    border-left: $defualt-border;
}


.section-header{
    margin-bottom: $default-margin-length;
}

.section-text {
    padding: $default-padding-lenght;
}

footer {
    background-color: $default-div-bg-color;
    border-top: $defualt-border;
    margin-bottom: 0;
    flex: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credits{
    text-align: center;
}

.author-name {
    font-weight: bold;
}
